<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
     <link rel="icon" href="../../public/img/weather.png">
</head>

<body>
    <div class="main-content">
    {{>header}}
    <img class='portrait' src="/img/me.png">
    <p>This is created by Priyanka Hipparkar. It uses weather api and mapbox api.</p>
    </div>

    {{>footer}}
</body>

</html>